body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
}

/* HEADER  */

.header {
    min-height: 100px;
    background-color: #666;
    text-transform: uppercase;
    padding: 0 40px;
    font-weight: bold;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 22px;
}

.menu,
.social-media {
    list-style: none;
    margin: 0px;
    padding-inline-start: 0px;
}

.social-media {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar ul li {
    float: left;
    padding: 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: #000;
}

.navbar li a:hover {
    color: #fff;
}

/* .menu{
    float: left;
}

.social-media {
    float: right;
} */

/* END OF HEADER  */

/* media screen */
@media screen and (min-width: 700px) {
    .header {
        /* background-color: red; */
    }
}

@media screen and (max-width: 700px) {
    .icon {
        display: block;
        height: 40px;
        width: 100%;
        background: url(menu.png) no-repeat 98% center;
        cursor: pointer;
    }

    .header {
        min-height: 50px;
        background-color: #fff;
    }

    .navbar {
        display: block;
        padding-top: 0px;
        background-color: #666;
    }

    .menu,
    .social-media {
        overflow: hidden;
        /* background: #505050; */
        height: 0;
        padding: 0px;
    }

    .navbar ul.open {
        height: auto;
        width: 100%;
    }

    .navbar ul li {
        float: none;
        padding: 5px;
    }
    .navbar ul li a {
        color: #fff;
    }
}

h1 {
    margin-block-start: 0px;
    margin-block-end: 0px;
}

/* DESCRIPTION */
.description {
    background-color: #a50606;
    position: relative;
    padding-bottom: 25px;
    padding: 50px;
}

.description h2 {
    color: #e4e4e4;
}

.description h1,
h2 {
    text-transform: uppercase;
}

.description h1 {
    color: #969696;
}

.description p {
    color: #bbb;
}

.learn-more {
    text-transform: uppercase;
    padding: 15px;
    color: #fff;
    background-color: #06af6d;
    font-weight: bold;
    border-radius: 5px;
}

.description::after {
    content: "";
    position: absolute;
    bottom: -28.8675px;
    width: 0;
    height: 0px;
    border-left: 45px solid transparent;
    border-right: 45px solid transparent;
    border-top: 28.8675px solid #a50606;
    left: calc(50% - 44px);
}

/* END OF DESCRIPTION */

@media screen and (max-width: 700px) {
    .flex-container {
        flex-direction: column;
    }
    .segment-item,
    .segment-details-item,
    .guestbook-entries,
    .guestbook-form {
        width: auto !important;
    }
    .header {
        padding: 0px;
    }
}

.segment {
    background-color: #f9f3f3;
    padding-top: 45px;
}

.segment h1 {
    color: #c5c3c3;
    text-shadow: 1px 1px lightgrey;
}
h4 {
    font-size: 25px;
    margin-bottom: 0;
}

.segment-item p {
    color: #c1c1c1;
}

.flex-container {
    display: flex;
}
.segment-item {
    margin: 10px;
    padding: 45px;
    font-size: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.segment-item p {
    font-size: 14px;
}

.segment-details {
    background-color: #e6e6e6;
    position: relative;
}

.segment-details::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 15%;
    width: 0;
    height: 0px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #e6e6e6;
}

.segment-details-item {
    background-color: #e2e0e0;
    margin: 10px;
    padding: 15px;
    width: 100%;
}

.segment-details-item:hover {
    background-color: #d6d2d2;
}

.border-top-green {
    border-top: 2px solid green;
}

.border-top-gray {
    border-top: 2px solid gray;
}

.border-top-red {
    border-top: 2px solid red;
}

.segment-details-item ul {
    list-style-type: none;
    padding-inline-start: 0px;
}
.segment-details-item ul li {
    float: left;
}

.list {
    height: 300px;
}

.list > div {
    text-align: left;
}
.border-top-green .list > div,
.border-top-red .list > div {
    border-bottom: 1px solid darkgray;
    padding: 8px;
}

.list > div > p {
    margin-block-start: 5px;
    margin-block-end: 5px;
}

.list i {
    color: green;
}
.list label {
    font-weight: bold;
}

.button {
    margin-top: auto;
    text-transform: uppercase;
    padding: 10px 14px;
    margin: auto;
    color: black;
    border-radius: 3px;
    border: none;
    font-weight: bold;
}

.green {
    background-color: #06af6d;
}

.gray {
    background-color: #666;
}

.red {
    background-color: #e23737;
}

.guestbook {
    background-color: #666;
    padding: 25px;
}

.guestbook h1{
    color: #ccc;
}

.guestbook-form {
    background-color: black;
    border-radius: 3px;
    width: 40%;
    margin: 20px;
    padding: 15px;
}

.guestbook-entries {
    width: 60%;
    margin: 20px;
    background-color: black;
    border-radius: 3px;
    padding: 15px;
    max-height: 300px;
    overflow: auto;
}

.form-control {
    width: 100%;
    border-radius: 3px;
    border-width: 0px;
    padding: 5px 0;
    margin-bottom: 15px;
    line-height: 2;
}

.entry {
    background-color: #fff;
    padding:0px 5px
}

.entry div{
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}

.username{
    font-weight: bold;
}

.entry p {
    margin-block-start: 5px;
    margin-block-end: 5px;
    text-align: left !important;
}

.footer {
    background-color: black;
    color: gray;
    display: flex;
    min-height: 50px;
    align-items: center;
    padding: 15px;
    font-weight: bold;
}

.footer-menu {
    margin-left: auto;
}

.footer-menu ul li {
    float: left;
}

.footer-menu ul li a {
    text-decoration: none;
    color: gray;
    padding: 5px;
    text-transform: uppercase;
}

.social-media-item {
    width: 8px;
    height: 0px;
    background: #3e3b3b;
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.social-media-item::before {
    content: "";
    position: absolute;
    top: -4px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 19px solid transparent;
    border-right: 19px solid transparent;
    border-bottom: 4px solid #3e3b3b;
}
.social-media-item::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 19px solid transparent;
    border-right: 19px solid transparent;
    border-top: 4px solid #3e3b3b;
}

/* HEXAGON SHAPE */
.hexagon-green {
    width: 100px;
    height: 57.735px;
    background: #09af53;
    position: relative;
    background-image: url("./laptop.png");
    background-repeat: no-repeat;
    background-position: center;
}
.hexagon-green::before {
    content: "";
    position: absolute;
    top: -28.8675px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 28.8675px solid #09af53;
}
.hexagon-green::after {
    content: "";
    position: absolute;
    bottom: -28.8675px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 28.8675px solid #09af53;
}

.hexagon-gray {
    width: 100px;
    height: 57.735px;
    background: #666;
    position: relative;
    background-image: url("./laptop.png");
    background-repeat: no-repeat;
    background-position: center;
}
.hexagon-gray::before {
    content: "";
    position: absolute;
    top: -28.8675px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 28.8675px solid #666;
}
.hexagon-gray::after {
    content: "";
    position: absolute;
    bottom: -28.8675px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 28.8675px solid #666;
}

.hexagon-red {
    width: 100px;
    height: 57.735px;
    background: #e23737;
    position: relative;
    background-image: url("./laptop.png");
    background-repeat: no-repeat;
    background-position: center;
}
.hexagon-red::before {
    content: "";
    position: absolute;
    top: -28.8675px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 28.8675px solid #e23737;
}
.hexagon-red::after {
    content: "";
    position: absolute;
    bottom: -28.8675px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 28.8675px solid #e23737;
}

.hexagon {
    width: 100px;
    height: 80px;
    background: #353333;
    position: absolute;
    z-index: 9999;
    left: calc(50% - 44px);
}
.hexagon::before {
    content: "";
    position: absolute;
    top: -28.8675px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 28.8675px solid #353333;
}
.hexagon::after {
    content: "";
    position: absolute;
    bottom: -28.8675px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 28.8675px solid #353333;
}
/* ENF OF HEXAGON */
